/*-----------------head------------------*/
.head{
    background-color:black;
    padding: 10px 0;
    color:pink;
}
.head i {
    margin-right:10px ;
}
.head label{
margin-right:30 px ;
font-size: 13px;
}
/*-----------------head------------------*/
